Faz múltiplas trees e compara. A decisão da maioria é a resposta.

- Iris Flower

In [2]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.ensemble import RandomForestClassifier

np.random.seed(0)

In [14]:
iris=load_iris()
df=pd.DataFrame(iris.data, columns=iris.feature_names)

df['species']=pd.Categorical.from_codes(iris.target, iris.target_names)

In [7]:
df['is_train']=np.random.uniform(0,1,len(df)) <= 0.75
train, test = df[df['is_train']==True], df[df['is_test']==False]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,is_train
0,5.1,3.5,1.4,0.2,setosa,True
1,4.9,3.0,1.4,0.2,setosa,True
2,4.7,3.2,1.3,0.2,setosa,True
3,4.6,3.1,1.5,0.2,setosa,True
4,5.0,3.6,1.4,0.2,setosa,True

In [ ]:
y=pd.factorize(train['species'])[0]

In [ ]:
features=df.columns[:4]
clf=RandomForestClassifier(n_jobs=2, random_state=0)
clf.fit(train[features], y)

In [ ]:
pred_numerical = clf.predict(test[features])

In [ ]:
clf.predict_proba(test[features])

In [ ]:
preds = iris.target_names[pred_numerical]

In [ ]:
pd.crosstab(test['species'], preds, rownames=['Actual Species'], colnames=['Predicted Species']) # com isso calcula-se a eficácia do modelo